.container{
    padding: 10px;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2px 20px #a6a7b0;
    background-color: whitesmoke;
}


.img{
    height: 192px;
    width: 100%;
    object-fit: cover;
}

.btn{
    outline: none;
    border: none;
    background-color: lightslategray;
    padding: 10px 20px 10px 20px;
    color: whitesmoke;
    font-size: 14px;
}

